<a href="https://colab.research.google.com/github/barsha0518/barsha-_ML_1st_lab_assignment/blob/main/ml_2nd_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
wimport pandas as pd
df= pd.DataFrame()
df['Name']=['barsha','xyx','aayush','pallu']
df['age']=[20,25,18,17]
df['city']=['pune','mumbai','ayz','qyrd']
df['country']=['india','india','india','india']
df['gender']=['female','female','male','female']
print(df)
df.iloc[1:4,1:2]
#df[df['gender']=='female']
df.replace("female","women")

     Name  age    city country  gender
0  barsha   20    pune   india  female
1     xyx   25  mumbai   india  female
2  aayush   18     ayz   india    male
3   pallu   17    qyrd   india  female

     Name  age    city country gender
0  barsha   20    pune   india  women
1     xyx   25  mumbai   india  women
2  aayush   18     ayz   india   male
3   pallu   17    qyrd   india  women

In [ ]:
from google.colab import files
uplaoded = files.upload()

Saving AWCustomers.csv to AWCustomers.csv

In [ ]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uplaoded['AWCustomers.csv']))
#print(df)
x=df.drop(['Title'],axis=1)
#df.drop(['middleName'],axis=1)
print(x)
x=df.drop(['Suffix'],axis=1)
print(x)
x=df.drop(['AddressLine2'],axis=1)
print(x)

       CustomerID FirstName MiddleName  LastName Suffix  \
0           21173      Chad          C      Yuan    NaN
1           13249      Ryan        NaN     Perry    NaN
2           29350     Julia        NaN  Thompson    NaN
3           13503  Theodore        NaN     Gomez    NaN
4           22803  Marshall          J      Shan    NaN
...           ...       ...        ...       ...    ...
18356       25414     Grace          C    Bailey    NaN
18357       11459     Tasha        NaN      Deng    NaN
18358       12160    Jaclyn        NaN     Zhang    NaN
18359       14353      Erin          I      Reed    NaN
18360       16676    Amanda        NaN     Perry    NaN

                 AddressLine1 AddressLine2            City  \
0          7090 C. Mount Hood          NaN      Wollongong
1         3651 Willow Lake Rd          NaN         Shawnee
2      1774 Tice Valley Blvd.          NaN     West Covina
3             2103 Baldwin Dr          NaN       Liverpool
4             Am Gallberg 234          NaN           Werne
...                       ...          ...             ...
18356      6627 Camelback Ct.          NaN        Coronado
18357         9627 Kendall Rd          NaN  Port Macquarie
18358       4364 Viera Avenue          NaN       Beaverton
18359  3866 Mt. Everest Court          NaN       Vancouver
18360     7870 Orangewood Dr.          NaN       Grossmont

         StateProvinceName CountryRegionName  ...        Education  \
0          New South Wales         Australia  ...        Bachelors
1         British Columbia            Canada  ...  Partial College
2               California     United States  ...        Bachelors
3                  England    United Kingdom  ...  Partial College
4      Nordrhein-Westfalen           Germany  ...  Partial College
...                    ...               ...  ...              ...
18356           California     United States  ...  Graduate Degree
18357      New South Wales         Australia  ...        Bachelors
18358               Oregon     United States  ...  Partial College
18359     British Columbia            Canada  ...      High School
18360           California     United States  ...  Graduate Degree

           Occupation Gender MaritalStatus HomeOwnerFlag NumberCarsOwned  \
0            Clerical      M             M             1               3
1            Clerical      M             M             1               2
2            Clerical      F             S             0               3
3      Skilled Manual      M             M             1               2
4      Skilled Manual      M             S             1               1
...               ...    ...           ...           ...             ...
18356  Skilled Manual      F             M             0               1
18357  Skilled Manual      F             S             0               2
18358  Skilled Manual      F             S             0               2
18359        Clerical      F             S             0               0
18360    Professional      F             M             1               2

      NumberChildrenAtHome  TotalChildren  YearlyIncome  LastUpdated
0                        0              1         81916   2017-03-06
1                        1              2         81076   2017-03-06
2                        0              0         86387   2017-03-06
3                        1              2         61481   2017-03-06
4                        0              0         51804   2017-03-06
...                    ...            ...           ...          ...
18356                    0              2         52953   2017-03-06
18357                    0              0         60992   2017-03-06
18358                    0              0         51859   2017-03-06
18359                    0              0         87177   2017-03-06
18360                    0              0        136856   2017-03-06

[18361 rows x 23 columns]
       CustomerID Title FirstName MiddleName  LastName  \
0           21173   NaN      Chad          C      Yuan
1           13249   NaN      Ryan        NaN     Perry
2           29350   NaN     Julia        NaN  Thompson
3           13503   NaN  Theodore        NaN     Gomez
4           22803   NaN  Marshall          J      Shan
...           ...   ...       ...        ...       ...
18356       25414   NaN     Grace          C    Bailey
18357       11459   NaN     Tasha        NaN      Deng
18358       12160   NaN    Jaclyn        NaN     Zhang
18359       14353   NaN      Erin          I      Reed
18360       16676   NaN    Amanda        NaN     Perry

                 AddressLine1 AddressLine2            City  \
0          7090 C. Mount Hood          NaN      Wollongong
1         3651 Willow Lake Rd          NaN         Shawnee
2      1774 Tice Valley Blvd.          NaN     West Covina
3             2103 Baldwin Dr          NaN       Liverpool
4             Am Gallberg 234          NaN           Werne
...                       ...          ...             ...
18356      6627 Camelback Ct.          NaN        Coronado
18357         9627 Kendall Rd          NaN  Port Macquarie
18358       4364 Viera Avenue          NaN       Beaverton
18359  3866 Mt. Everest Court          NaN       Vancouver
18360     7870 Orangewood Dr.          NaN       Grossmont

         StateProvinceName CountryRegionName  ...        Education  \
0          New South Wales         Australia  ...        Bachelors
1         British Columbia            Canada  ...  Partial College
2               California     United States  ...        Bachelors
3                  England    United Kingdom  ...  Partial College
4      Nordrhein-Westfalen           Germany  ...  Partial College
...                    ...               ...  ...              ...
18356           California     United States  ...  Graduate Degree
18357      New South Wales         Australia  ...        Bachelors
18358               Oregon     United States  ...  Partial College
18359     British Columbia            Canada  ...      High School
18360           California     United States  ...  Graduate Degree

           Occupation Gender MaritalStatus HomeOwnerFlag NumberCarsOwned  \
0            Clerical      M             M             1               3
1            Clerical      M             M             1               2
2            Clerical      F             S             0               3
3      Skilled Manual      M             M             1               2
4      Skilled Manual      M             S             1               1
...               ...    ...           ...           ...             ...
18356  Skilled Manual      F             M             0               1
18357  Skilled Manual      F             S             0               2
18358  Skilled Manual      F             S             0               2
18359        Clerical      F             S             0               0
18360    Professional      F             M             1               2

      NumberChildrenAtHome  TotalChildren  YearlyIncome  LastUpdated
0                        0              1         81916   2017-03-06
1                        1              2         81076   2017-03-06
2                        0              0         86387   2017-03-06
3                        1              2         61481   2017-03-06
4                        0              0         51804   2017-03-06
...                    ...            ...           ...          ...
18356                    0              2         52953   2017-03-06
18357                    0              0         60992   2017-03-06
18358                    0              0         51859   2017-03-06
18359                    0              0         87177   2017-03-06
18360                    0              0        136856   2017-03-06

[18361 rows x 23 columns]
       CustomerID Title FirstName MiddleName  LastName Suffix  \
0           21173   NaN      Chad          C      Yuan    NaN
1           13249   NaN      Ryan        NaN     Perry    NaN
2           29350   NaN     Julia        NaN  Thompson    NaN
3           13503   NaN  Theodore        NaN     Gomez    NaN
4           22803   NaN  Marshall          J      Shan    NaN
...           ...   ...       ...        ...       ...    ...
18356       25414   NaN     Grace          C    Bailey    NaN
18357       11459   NaN     Tasha        NaN      Deng    NaN
18358       12160   NaN    Jaclyn        NaN     Zhang    NaN
18359       14353   NaN      Erin          I      Reed    NaN
18360       16676   NaN    Amanda        NaN     Perry    NaN

                 AddressLine1            City    StateProvinceName  \
0          7090 C. Mount Hood      Wollongong      New South Wales
1         3651 Willow Lake Rd         Shawnee     British Columbia
2      1774 Tice Valley Blvd.     West Covina           California
3             2103 Baldwin Dr       Liverpool              England
4             Am Gallberg 234           Werne  Nordrhein-Westfalen
...                       ...             ...                  ...
18356      6627 Camelback Ct.        Coronado           California
18357         9627 Kendall Rd  Port Macquarie      New South Wales
18358       4364 Viera Avenue       Beaverton               Oregon
18359  3866 Mt. Everest Court       Vancouver     British Columbia
18360     7870 Orangewood Dr.       Grossmont           California

      CountryRegionName  ...        Education      Occupation Gender  \
0             Australia  ...        Bachelors        Clerical      M
1                Canada  ...  Partial College        Clerical      M
2         United States  ...        Bachelors        Clerical      F
3        United Kingdom  ...  Partial College  Skilled Manual      M
4               Germany  ...  Partial College  Skilled Manual      M
...                 ...  ...              ...             ...    ...
18356     United States  ...  Graduate Degree  Skilled Manual      F
18357         Australia  ...        Bachelors  Skilled Manual      F
18358     United States  ...  Partial College  Skilled Manual      F
18359            Canada  ...      High School        Clerical      F
18360     United States  ...  Graduate Degree    Professional      F

      MaritalStatus HomeOwnerFlag NumberCarsOwned NumberChildrenAtHome  \
0                 M             1               3                    0
1                 M             1               2                    1
2                 S             0               3                    0
3                 M             1               2                    1
4                 S             1               1                    0
...             ...           ...             ...                  ...
18356             M             0               1                    0
18357             S             0               2                    0
18358             S             0               2                    0
18359             S             0               0                    0
18360             M             1               2                    0

       TotalChildren  YearlyIncome  LastUpdated
0                  1         81916   2017-03-06
1                  2         81076   2017-03-06
2                  0         86387   2017-03-06
3                  2         61481   2017-03-06
4                  0         51804   2017-03-06
...              ...           ...          ...
18356              2         52953   2017-03-06
18357              0         60992   2017-03-06
18358              0         51859   2017-03-06
18359              0         87177   2017-03-06
18360              0        136856   2017-03-06

[18361 rows x 23 columns]

In [ ]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uplaoded['AWCustomers.csv']))
print(pd.isna(df))
x=df.fillna(0)
print(x)

       CustomerID  Title  FirstName  MiddleName  LastName  Suffix  \
0           False   True      False       False     False    True
1           False   True      False        True     False    True
2           False   True      False        True     False    True
3           False   True      False        True     False    True
4           False   True      False       False     False    True
...           ...    ...        ...         ...       ...     ...
18356       False   True      False       False     False    True
18357       False   True      False        True     False    True
18358       False   True      False        True     False    True
18359       False   True      False       False     False    True
18360       False   True      False        True     False    True

       AddressLine1  AddressLine2   City  StateProvinceName  ...  Education  \
0             False          True  False              False  ...      False
1             False          True  False              False  ...      False
2             False          True  False              False  ...      False
3             False          True  False              False  ...      False
4             False          True  False              False  ...      False
...             ...           ...    ...                ...  ...        ...
18356         False          True  False              False  ...      False
18357         False          True  False              False  ...      False
18358         False          True  False              False  ...      False
18359         False          True  False              False  ...      False
18360         False          True  False              False  ...      False

       Occupation  Gender  MaritalStatus  HomeOwnerFlag  NumberCarsOwned  \
0           False   False          False          False            False
1           False   False          False          False            False
2           False   False          False          False            False
3           False   False          False          False            False
4           False   False          False          False            False
...           ...     ...            ...            ...              ...
18356       False   False          False          False            False
18357       False   False          False          False            False
18358       False   False          False          False            False
18359       False   False          False          False            False
18360       False   False          False          False            False

       NumberChildrenAtHome  TotalChildren  YearlyIncome  LastUpdated
0                     False          False         False        False
1                     False          False         False        False
2                     False          False         False        False
3                     False          False         False        False
4                     False          False         False        False
...                     ...            ...           ...          ...
18356                 False          False         False        False
18357                 False          False         False        False
18358                 False          False         False        False
18359                 False          False         False        False
18360                 False          False         False        False

[18361 rows x 24 columns]
       CustomerID Title FirstName MiddleName  LastName Suffix  \
0           21173     0      Chad          C      Yuan      0
1           13249     0      Ryan          0     Perry      0
2           29350     0     Julia          0  Thompson      0
3           13503     0  Theodore          0     Gomez      0
4           22803     0  Marshall          J      Shan      0
...           ...   ...       ...        ...       ...    ...
18356       25414     0     Grace          C    Bailey      0
18357       11459     0     Tasha          0      Deng      0
18358       12160     0    Jaclyn          0     Zhang      0
18359       14353     0      Erin          I      Reed      0
18360       16676     0    Amanda          0     Perry      0

                 AddressLine1 AddressLine2            City  \
0          7090 C. Mount Hood            0      Wollongong
1         3651 Willow Lake Rd            0         Shawnee
2      1774 Tice Valley Blvd.            0     West Covina
3             2103 Baldwin Dr            0       Liverpool
4             Am Gallberg 234            0           Werne
...                       ...          ...             ...
18356      6627 Camelback Ct.            0        Coronado
18357         9627 Kendall Rd            0  Port Macquarie
18358       4364 Viera Avenue            0       Beaverton
18359  3866 Mt. Everest Court            0       Vancouver
18360     7870 Orangewood Dr.            0       Grossmont

         StateProvinceName  ...        Education      Occupation Gender  \
0          New South Wales  ...        Bachelors        Clerical      M
1         British Columbia  ...  Partial College        Clerical      M
2               California  ...        Bachelors        Clerical      F
3                  England  ...  Partial College  Skilled Manual      M
4      Nordrhein-Westfalen  ...  Partial College  Skilled Manual      M
...                    ...  ...              ...             ...    ...
18356           California  ...  Graduate Degree  Skilled Manual      F
18357      New South Wales  ...        Bachelors  Skilled Manual      F
18358               Oregon  ...  Partial College  Skilled Manual      F
18359     British Columbia  ...      High School        Clerical      F
18360           California  ...  Graduate Degree    Professional      F

      MaritalStatus HomeOwnerFlag NumberCarsOwned NumberChildrenAtHome  \
0                 M             1               3                    0
1                 M             1               2                    1
2                 S             0               3                    0
3                 M             1               2                    1
4                 S             1               1                    0
...             ...           ...             ...                  ...
18356             M             0               1                    0
18357             S             0               2                    0
18358             S             0               2                    0
18359             S             0               0                    0
18360             M             1               2                    0

      TotalChildren  YearlyIncome  LastUpdated
0                 1         81916   2017-03-06
1                 2         81076   2017-03-06
2                 0         86387   2017-03-06
3                 2         61481   2017-03-06
4                 0         51804   2017-03-06
...             ...           ...          ...
18356             2         52953   2017-03-06
18357             0         60992   2017-03-06
18358             0         51859   2017-03-06
18359             0         87177   2017-03-06
18360             0        136856   2017-03-06

[18361 rows x 24 columns]

In [ ]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uplaoded['AWCustomers.csv']))
print(df)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x=df['YearlyIncome']=scaler.fit_transform(df['YearlyIncome'].values.reshape(-1, 1)).flatten()
print(x)

       CustomerID Title FirstName MiddleName  LastName Suffix  \
0           21173   NaN      Chad          C      Yuan    NaN
1           13249   NaN      Ryan        NaN     Perry    NaN
2           29350   NaN     Julia        NaN  Thompson    NaN
3           13503   NaN  Theodore        NaN     Gomez    NaN
4           22803   NaN  Marshall          J      Shan    NaN
...           ...   ...       ...        ...       ...    ...
18356       25414   NaN     Grace          C    Bailey    NaN
18357       11459   NaN     Tasha        NaN      Deng    NaN
18358       12160   NaN    Jaclyn        NaN     Zhang    NaN
18359       14353   NaN      Erin          I      Reed    NaN
18360       16676   NaN    Amanda        NaN     Perry    NaN

                 AddressLine1 AddressLine2            City  \
0          7090 C. Mount Hood          NaN      Wollongong
1         3651 Willow Lake Rd          NaN         Shawnee
2      1774 Tice Valley Blvd.          NaN     West Covina
3             2103 Baldwin Dr          NaN       Liverpool
4             Am Gallberg 234          NaN           Werne
...                       ...          ...             ...
18356      6627 Camelback Ct.          NaN        Coronado
18357         9627 Kendall Rd          NaN  Port Macquarie
18358       4364 Viera Avenue          NaN       Beaverton
18359  3866 Mt. Everest Court          NaN       Vancouver
18360     7870 Orangewood Dr.          NaN       Grossmont

         StateProvinceName  ...        Education      Occupation Gender  \
0          New South Wales  ...        Bachelors        Clerical      M
1         British Columbia  ...  Partial College        Clerical      M
2               California  ...        Bachelors        Clerical      F
3                  England  ...  Partial College  Skilled Manual      M
4      Nordrhein-Westfalen  ...  Partial College  Skilled Manual      M
...                    ...  ...              ...             ...    ...
18356           California  ...  Graduate Degree  Skilled Manual      F
18357      New South Wales  ...        Bachelors  Skilled Manual      F
18358               Oregon  ...  Partial College  Skilled Manual      F
18359     British Columbia  ...      High School        Clerical      F
18360           California  ...  Graduate Degree    Professional      F

      MaritalStatus HomeOwnerFlag NumberCarsOwned NumberChildrenAtHome  \
0                 M             1               3                    0
1                 M             1               2                    1
2                 S             0               3                    0
3                 M             1               2                    1
4                 S             1               1                    0
...             ...           ...             ...                  ...
18356             M             0               1                    0
18357             S             0               2                    0
18358             S             0               2                    0
18359             S             0               0                    0
18360             M             1               2                    0

      TotalChildren  YearlyIncome  LastUpdated
0                 1         81916   2017-03-06
1                 2         81076   2017-03-06
2                 0         86387   2017-03-06
3                 2         61481   2017-03-06
4                 0         51804   2017-03-06
...             ...           ...          ...
18356             2         52953   2017-03-06
18357             0         60992   2017-03-06
18358             0         51859   2017-03-06
18359             0         87177   2017-03-06
18360             0        136856   2017-03-06

[18361 rows x 24 columns]
[ 0.29855522  0.27118044  0.44426075 ... -0.68097305  0.47000607
  2.08899616]

In [ ]:
import numpy as np
#df = pd.read_csv(io.BytesIO(uplaoded['AWCustomers.csv']))
object1=np.array([1,0,1,1,0,1])
object2=np.array([1,1,1,1,0,0])
def simple_matching_coeff(vec1,vec2):
  matches=np.sum(vec1==vec2)
  return matches/len(vec1)
print(simple_matching_coeff(object1,object2))

0.6666666666666666

In [ ]:
import numpy as np

def jaccard_similarity(x,y):
  intersection=np.logical_and(x,y)
  union=np.logical_or(x,y)
  similarity=intersection.sum()/float(union.sum())
  return similarity
  x = [0,1,0,0,0,1,0,0,1]
  y = [0,1,1,0,0,1,0,0,1]

  simxy=jaccard_similarity(x,y)

  print(' Similarity between x and y is', simxy)